name: Send Reminders

on:
  schedule:
    # Run every minute
    - cron: '* * * * *'
  workflow_dispatch: # Allow manual trigger

jobs:
  send-reminders:
    runs-on: ubuntu-latest
    steps:
      - name: Call Reminder API
        run: |
          curl -X GET ${{ secrets.APP_URL }}/api/cron/reminder
